#hero {
    background-image: radial-gradient(76% 95%, #002C4E 13%, #000612 100%);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    padding: $space-xxxl 0;

    @include breakpoint(mobile) {
        &::after {
            content: '';
            position: absolute;
            background-color: $color__primary-dark;
            width: 100%;
            height: 100%;
            display: block;
            top: 0;
            opacity: 0.8;
            z-index: 0;
        }
    }
    
    .container {
        z-index: 1;
        position: relative;
    }

    .display {
        color: white;
        align-self: center;
        margin-top: $space-sm;
    }

    h2 {
        color: $color__secondary;
        font-size: 24px;
        max-width: 50%;
        font-weight: normal;
        line-height: 1.3;
        @include breakpoint(mobile) {
            max-width: 100%;
        }
    }

    .posted-on time {
        font-size: 1.75rem;
        font-weight: 100;
        color: $color__white;
    }
    
}

#breadcrumbs {
    background-color: $color__primary-60;
    font-size: 1.125rem;
    padding: $space-xs 0;
    color: white;

    p {
        margin: 0;
    }
}