#masthead {
    position: absolute;
    top: 48px;
    z-index: 999;
	width: 100%;
	display: grid;
	grid-template-columns: 120px 200px 1fr;
	align-items: center;
	@include breakpoint(tablet) {
		grid-template-columns: 80px 1fr 80px;
		gap: 1em;
	}

	#site-navigation {
		justify-self: end;
		padding-right: 1.5rem;
	}
}

.toogle-mega-menu {
	height: 96px;
	width: 96px;
	border-radius: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center; 

	background: $color__primary-80;
	
	@include breakpoint(tablet) {
		height: 80px;
		width: 80px;
	}

	&:before{
		content: url('assets/icons/burger.svg');
		width: 40px;
		height: 26px;
	}

	&.close {

		&:before {
			content: url('assets/icons/close.svg');
		}
	}
}

.site-btn--contact {
	height: 80px;
	width: 80px;
	position: relative;
	align-items: center;
	justify-content: center; 
	background: $color__secondary;
	display: none;
	
	@include breakpoint(tablet) {
		display: flex;
	}

	a:after{
		content: url('assets/icons/mail.svg');
	}
}

#top-bar {
	background-color: $color__primary;
	color: $color__white;

	@include breakpoint(xsmobile) {
		@include font-size(0.875);

	}
	
	.row {
		height: 3rem;
	}

	.menu-top-bar-container {
		@include breakpoint(tablet) {
			display: none;
		}
	}

	ul#top-nav{
		list-style: none;
		display: flex;
		margin: 0;
		padding: 0;

		li {
			position: relative;

			a {
				line-height: 1;
				color: $color__white;
				padding: 0 2.5rem 0 1.2rem;
				&:hover {
					color: $color__secondary;
				}
			}

			&:after {
				content: '';
				background-color: $color__secondary;
				height: 9px;
				width: 9px;
				position: absolute;
				left: 0;
				top: 6px
			}

			&:last-child {
				
				a {
					font-size: 1.125rem;
					line-height: 1.2;
					font-weight: 800;
				}

				&:after {
					content: none;
				}
			}
		}
	}
}

.main-navigation {
	display: block;
	width: 100%;
	@include breakpoint(tablet) {
		display: none;
	}

	ul {
		display: flex;
		justify-content: end;
		align-items: center;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;
		font-size: 16px;
		font-weight: 800;
		font-style: italic;
		text-transform: uppercase;

		&:hover > a,
		&.focus > a {
			color: $color__secondary;
			&:after {
				width: 32px;
				transition: (.3s all ease-in-out);
			}
			
		}
	}

	a {
		display: block;
		text-decoration: none;
		color: $color__white;
		padding: $space-xs $space-xs;

		&:after {
			content: '';
			display: block;
			background: $color__secondary;
			height: 2px;
			width: 0%;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__secondary;
		&:after {
			width: 32px;
			transition: (.3s all ease-in-out);
		}
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {
	
	@include container;

	.nav-links {
		display: flex;
		margin-top: $space-md;
		margin-bottom: $space-md;

		span {
			color: $color__text-main;
		}
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.wp-block-latest-posts__list,
.widget_nav_menu .menu,
.wp-block-categories-list {
	list-style: none;
	padding-left: 0;

	li {
		position: relative;
		margin-bottom: $space__unit / 2;

		a {
			line-height: $font__line-height-header !important;
			color: $color__white;
			padding: 0 2.5rem 0 1.2rem !important;
			display: block;
			@include font-size(0.875);

			&:hover {
				color: $color__secondary;
			}
		}

		.wp-block-latest-posts__post-date {
			padding-left: 1.2rem;
		}

		&:after {
			content: '';
			background-color: $color__secondary;
			height: 9px;
			width: 9px;
			position: absolute;
			left: 0;
			top: 6px
		}

	}
}