.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

@include breakpoint(mobile) {

	.center-mobile {
		text-align: center;
		justify-content: center;
	}

}