/* blocks */

.entry-content {

	& > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
		@include container;
	}

	& > [class*="wp-block-"]:not(.alignfull).alignwide {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.alignfull > .wp-block-group__inner-container {	
		@include container;
	}
	
}

.wp-block-columns {

	margin-bottom: $space-xl;

	@include breakpoint(tablet) {

		&.apilar-en-tablet {
			flex-wrap: wrap;

			> .wp-block-column {
				flex-basis: 100% !important;
				flex-grow: 1 !important;
				margin-left: 0 !important;
			}
		}

	}

	&.has-background {
		padding: 0;	
		margin-bottom: 0;
	}

	h2 {
		margin-bottom: $space-md;
	}
}

.wp-block-group {

	&.has-background {
    	padding: $space-xl 0 $space-xl 0;
    	margin-top: 0;
		margin-bottom: 0;
	}

	.wp-block-columns {
		margin-bottom: 0;

		.wp-block-columns {
			margin-bottom: $space-md;
		}
	}
}

// Custom text colors
.has-primary-color {
	color: $color__primary;
}

.has-secondary-color {
	color: $color__secondary;
}

.has-ligth-color {
	color: $color__ligth;
}

.has-dark-color {
	color: $color__text-main;
}

.has-white-color {
	color: $color__white;
}


// Custom background colors
.has-primary-background-color {
	background-color: $color__primary;
	color: $color__white;
	a {color: $color__white; &:hover{color: $color__link;}}
}

.has-secondary-background-color {
	background-color: $color__secondary;
    a:not(.wp-block-button__link){color: $color__white;}
}

.has-dark-background-color:not(a) {
	background-color: $color__primary-dark;
	color: $color__white;
    
}

.has-ligth-background-color {
	background-color: $color__ligth;
}


.wp-block-quote {
	margin-top: $space-xl;
	margin-bottom: $space-xl;
	
	p {
		margin-bottom: .5em;
	}
	
	cite {
		font-size: 80%;
		font-weight: bold;
	}

	&.is-style-default::before {
		border-top: 4px solid $color__primary;
		content: '';
		width: 168px;
		height: 8px;
		display: block;
	}

}


// Custom Buttons
.wp-block-button:not(.is-style-with-icon) .wp-block-button__link{
	@include button;
    padding: 0.65rem $space-md;
}

.wp-block-button__link {
    @include btn(secondary__fill);

	&.has-primary-background-color {
		@include btn(primary__fill);
	}
	&.has-secondary-background-color {
		@include btn(secondary__fill);
	}
	&.has-dark-background-color {
		@include btn(dark__fill);
	}
	&.has-white-background-color {
		@include btn(white__fill);
	}
	&.has-secondary-color {
		color: $color__secondary;
	}
	&.has-dark-color {
		color: $color__primary-dark;
	}
}

.is-style-outline .wp-block-button__link {
	@include btn(primary__outline);

	.has-background & {
		border: 2px solid $color__white;
	}

	&.has-primary-background-color {
		@include btn(primary__outline);
	}
	&.has-secondary-background-color {
		@include btn(secondary__outline);
	}
	&.has-dark-background-color {
		@include btn(dark__outline);
	}
	&.has-white-background-color {
		@include btn(white__outline);
	}
}

.is-style-with-icon .wp-block-button__link {
	display: flex;
	align-items: center;
	padding: 0;
	background-color: transparent !important;
	border: 0;
	@include font-size(1);
	text-transform: uppercase;
	font-style: italic;
	font-weight: 800;
	transition: (.3s all ease-in-out);
	
	&:before {
		display: inline-flex;
		content: '';
		background-image: url('assets/icons/arrow-circle.svg');
		background-size: 40px 40px;
		height: 40px;
		width: 40px;
		margin-right: 1em;
		transition: (.3s all ease-in-out);
	}
	&:hover{
		transition: (.3s all ease-in-out);
		margin-left: .5em;
	}
}

.wp-block-separator {
	opacity: 1;
}

.wp-block-separator.has-background:not(.is-style-wide):not(.is-style-dots) {
    height: 8px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
    width: 168px;
	color: $color__primary;
	border-bottom: 8px solid;
}

.wp-block-gallery {
	
	&.has-nested-images figure.wp-block-image img {
		width: fit-content;	
	}

	&.aligncenter {
		img {
			align-self: center;
		}
	}
}

.is-style-with-arrow {
	display: flex;
	align-items: center;
	
	&:before {
		display: inline-flex;
		content: '';
		background-image: url('assets/icons/arrow-rigth.svg');
		background-size: contain;
		background-repeat: no-repeat;
		height: 18px;
		width: 18px;
		margin-right: .5em;
	}
	&.has-text-align-right {
		justify-content: end;
	}
	&.text-h6 {
		margin-top: 0;
		margin-bottom: 2.3em;
	}
}

.is-style-border-box-rigth {
	
	border-right: 1px solid $color__primary-40;
	
	@include breakpoint(mobile) {
		border-right: 0;
		border-bottom: 1px solid $color__primary-40;
		padding-bottom: $space-xs;
		margin-bottom: $space-md;
	}
	
	a {
		padding-right: $space-xs;
		font-size: 16px;
		text-decoration: underline;
	}
	
	p {
		margin-bottom: 0;
	}
}


.is-style-cover-move-up {
	margin-top: -200px;
	@include breakpoint(mobile) {
		max-width: 100%;
	}

	.has-large-font-size {
		font-size: 3rem;
		@include breakpoint(mobile) {
			font-size: 2.5rem;
		}
	}
}

.is-style-container-fluid {
	margin-right: auto;
  	margin-left: auto;
  	padding-right: 1.5rem;
  	padding-left: 1.5rem;
}

.title-section-absolute {
	position: absolute;
	left: 0;
	max-width: 180px;
	@include breakpoint(mobile) {
		position: inherit;
		margin-bottom: $space-md;
	}

	p {
		padding-left: $space-xs;
		margin: 0;
		
		&.big {
			font-size: 2em;
			font-weight: 200;
		}
	}

	hr {
		margin-bottom: $space-xxs;
	}
}

.wp-block-query {

	time {
		font-size: 1.75rem;
		font-weight: 100;
	}
	
	.wp-block-post-title a {
		color: $color__primary-80;

		&:hover{
			color: $color__secondary;
		}
	}
}

.accordion-block {
	
	.accordion-btn {
		background-color: $color__gray;
		cursor: pointer;
		width: 100%;
		border: none;
		border-radius: 0;
		text-align: left;
		outline: none;
		transition: 0.4s;
		justify-content: start;
		padding: $space__unit 0;
		position: relative;
		margin-bottom: 1px;
		color: $color__text-main;

		&:hover, .active & {
			background-color: $color__primary-40;
			color: $color__white;
		}

		.container {
			display: flex;
			align-items: center;

			@include breakpoint(mobile) {
				width: 100%;
			}

		}

		h3 {
			font-size: 1.25rem;
			margin: 0;
		}

		span {
			color: $color__white;
			background-color: $color__primary;
			border-radius: 100%;
			font-size: 1.25rem;
			width: $space-md;
			height: $space-md;
			margin-right: $space-xxs;
			float: left;
			text-align: center;
			line-height: 1.8;

			&::before {
				content: '\002B';
			}
		}
	}

	.active span {
		background-color: $color__secondary;
		
		&::before {
			content: '\2212';
		}
	}
	
	.panel {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		padding-left: calc(1.5rem + 40px + .5rem + .5rem);
	}
}
  
.wp-block-media-text.has-media-on-the-right {
	border: $space__unit solid $color__white;
}

.big-number {
    font-size: 3.6em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1;
    @include breakpoint(laptop) {
		font-size: 3em;
    }
}

// CTA guías
.link-guia {
	
	.wp-block-buttons {
		display: flex;
		gap: .5em;
		flex-wrap: wrap;
		justify-content: flex-end;

		@include breakpoint(tablet) {
			justify-content: flex-start;
		}
	}

}